<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
</head>

<body class="bg-indigo-300">
    {% include 'navbar.html' %}
    
    <!-- Showing Messages -->
    {% if messages %}
    {% for message in messages %}
    <h4 class="text-gray-50 w-9/12 p-3 m-auto text-center mt-2 
        {% if message.tags == 'error' %}bg-red-400
        {% elif message.tags == 'warning' %}bg-yellow-400
        {% else %}bg-green-400
        {% endif %}">{{message}}
    </h4>
    {% endfor %}
    {% endif %}
    
    {% block content %} {% endblock %}
</body>

</html>